:root {
  --bg: #ffe3cb;
  --blue: 38, 157, 235;
  --red: 244, 75, 107;
}
.scroll-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 768px) {
  .scroll-links {
    gap: 5rem; 
  }
}
h2 {
    display: block;
    position: relative;
    padding: 0 1vw;
    width: fit-content;
    margin: 0 auto;
    --bg: transparent;
    color: #fff;
    text-align: center;
  }
  h3 {
    display: block;
    position: relative;
    padding: 0 1vw;
    width: fit-content;
    --bg: transparent;
    color: #fff;
  }
  h3:after{
    z-index: -1;
    border-radius: 1vw;
    content: "";
    width: 100%;
    height: 53%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #1bb28c;
  }
  
  h2:after {
    z-index: -1;
    border-radius: 1vw;
    content: "";
    width: 100%;
    height: 53%;
    left: 0;
    bottom: 0;
    position: absolute;
    background: #1bb28c;
  }
  @keyframes loop {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }

.logos-marquee {
    width: 600px; 
    overflow: hidden;
    white-space: nowrap; 
    position: relative;
  }
  .animate-marquee {
    display: flex;
    position: relative;
    animation: marquee 10s linear infinite;
  }
  @keyframes marquee {
    0% {
      transform: translateX(100%); 
    }
    100% {
      transform: translateX(-100%); 
    }
  }
  
  .timeline {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.timeline li {
    display: flex; 
    align-items: center; 
}

.content-working {
    flex: 1; 
    margin-right: 20px; 
}

.time {
    text-align: center; 
}
.timeline{
  position:relative;
  margin:50px auto;
  width:1000px;
  box-sizing:border-box;
}
.timeline:before{
  content:'';
  position:absolute;
  left:50%;
  width:2px;
  height:100%;
  background:#fff9f9;
}
.timeline li {
    clear: both;
}
.timeline ul{
  padding:0;
  margin:0;
  
}
.timeline ul li{
  list-style:none;
  position:relative;
  width:50%;
  padding:20px 40px;
  box-sizing:border-box;
  
}
.timeline ul li:nth-child(odd){
  float:left;
  text-align:right;
  clear:both;
}
.timeline ul li:nth-child(even){
  float:right;
  text-align:left;
  clear:both;
}
.content-working{
    padding:3rem;
    border-radius: 2rem;
    background-color: #fff;
  padding-bottom:20px;
}
.timeline ul li:nth-child(odd):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  right:-6px;
  background:#6978d1;
  border-radius:50%;
  box-shadow: 0 0 10px 3px rgba(135, 172, 255, 0.5);
}
.timeline ul li:nth-child(even):before
{
  content:'';
  position:absolute;
  width:10px;
  height:10px;
  top:24px;
  left:-4px;
  background: #13adc7;
  border-radius:50%;
  box-shadow: 0 0 10px 3px rgba(135, 242, 255, 0.6); 
}
.timeline ul li h3{
  padding:0;
  margin:0;
  font-weight:600;
}
.timeline ul li p{
  margin:10px 0 0;
  padding:0;
}
.timeline ul li .time h4{
  margin:0;
  padding:0;
  font-size:14px;
}
.timeline ul li:nth-child(odd) .time
{
  position:absolute;
  top:12px;
  right:-165px;
  margin:0;
  padding:8px 16px;
  background:#13adc7 ;
  color:#fff;
  border-radius:18px;
  box-shadow: 0 0 10px 3px rgba(135, 242, 255, 0.6); 
}
.timeline ul li:nth-child(even) .time
{
  position:absolute;
  top:12px;
  left:-165px;
  margin:0;
  padding:8px 16px;
  background:#6978d1;
  color:#fff;
  border-radius:18px;
  box-shadow: 0 0 10px 3px rgba(135, 172, 255, 0.5);
}
@media(max-width:1000px)
{
  .timeline{
    width:100%;
  }
}
@media(max-width:767px){
  .timeline{
    width:100%;
    padding-bottom:0;
  }
  h1{
    font-size:40px;
    text-align:center;
  }
  .timeline:before{
    left:20px;
    height:100%;
  }
  .timeline ul li:nth-child(odd),
  .timeline ul li:nth-child(even)
  {
    width:100%;
    text-align:left;
    padding-left:50px;
    padding-bottom:50px;
  }
  .timeline ul li:nth-child(odd):before,
  .timeline ul li:nth-child(even):before
  {
    top:-18px;
    left:16px;
  }
  .timeline ul li:nth-child(odd) .time,
  .timeline ul li:nth-child(even) .time{
    top:-30px;
    left:50px;
    right:inherit;
  }
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden; 
  padding: 0;
}

.tags li {
  float: left; 
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  font-size: 1rem;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #0F1624 ;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}



.infinite-scroll-container {
  width: 100%;
  overflow: hidden; 
  position: relative;
  background: #1a1a1a;
  padding: 20px 0;
}

.scroll-wrapper {
  display: flex;
  gap: 20px;
  animation: scroll 10s linear infinite; 
}

.scroll-card {
  width:300px;
  height:300px;
  min-width: 300px;
  flex-shrink: 0;
  background: #222; 
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: transform 1s ease;
}

.scroll-card img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
  display: block;
}

.scroll-card:hover {
  transform: scale(1.05);
}

@keyframes scroll {
  from {
      transform: translateX(0);
  }
  to {
      transform: translateX(-100%);
  }
}


:root {
  --uia-text-loader-text-shadow: #6978d1;
}
.uia-text-loader__text {
	text-transform: var(--uia-text-loader-text-transform, uppercase);
	color: var(--uia-text-loader-text-shadow, #6978d1);

	user-select: var(--uia-text-loader-user-select, none);
}

.uia-text-loader__letter {
	display: var(--uia-text-loader-letter-display, inline-flex);
	position: relative;
  color: #ffffff;
}

.uia-text-loader__letter-placeholder {
	color: var(--uia-text-loader-letter-color, initial);

	position: absolute;
	inset: 0;

	animation-duration: var(--uia-text-loader-animation-duration, 5s);
	animation-iteration-count: var(--uia-text-loader-animation-iteration-count, infinite);
	/* animation-fill-mode: var(--uia-text-loader-animation-fill-mode, backwards); */
	animation-delay: var(--uia-text-loader-animation-delay);
}

@media (forced-colors: active) {

    
}

[data-uia-text-loader-type="uia-text-loader-type-1"] .uia-text-loader__letter-placeholder {
	animation-name: uia-text-loader-1;
}

@media (prefers-reduced-motion: no-preference) {

	@keyframes uia-text-loader-1 {

		0%, 10%, 90%, 100% {
			scale: 0;
		}

		20%, 75% {
			scale: 1;
		}
	}
}

@media (prefers-reduced-motion: reduce) {

	@keyframes uia-text-loader-1 {

		0%, 10%, 90%, 100% {
			opacity: 0;
		}

		20%, 75% {
			opacity: 1;
		}
	}
}

/* type 2 */

[data-uia-text-loader-type="uia-text-loader-type-2"] .uia-text-loader__letter-placeholder {
	animation-name: uia-text-loader-2;
}

@keyframes uia-text-loader-2 {

	0%, 10%, 90%, 100% {
		opacity: 0;
	}

	11%, 55% {
		opacity: 1;
	}
}

[data-uia-text-loader-type="uia-text-loader-type-3"] .uia-text-loader__letter-placeholder {
    animation-name: uia-text-loader-3;
}
.uia-text-loader__letter {
  color: #ffffff !important;
}
.uia-text-loader__letter-placeholder {
  color: #6978d1 !important;
}


@media (prefers-reduced-motion: no-preference) {

    @keyframes uia-text-loader-3 {

        0%, 10%, 90%, 100% {
			transform: rotateY(-90deg);
			opacity: 0;
		}

		15% {
			opacity: .5;
		}

		20%, 75% {
			transform: rotateY(0);
			opacity: 1;
		}
	}
}

@media (prefers-reduced-motion: reduce) {

    @keyframes uia-text-loader-3 {

        0%, 10%, 90%, 100% {
            opacity: 0;
        }

        20%, 75% {
            opacity: 1;
        }
    }
}
.uia-text-loader__letter {
	--uia-text-loader-delay-step: 0.5s;
}

.uia-text-loader__letter:nth-child(2) .uia-text-loader__letter-placeholder {
	--uia-text-loader-animation-delay: calc(2 * var(--uia-text-loader-delay-step))
}

.uia-text-loader__letter:nth-child(3) .uia-text-loader__letter-placeholder {
	--uia-text-loader-animation-delay: calc(3 * var(--uia-text-loader-delay-step));
}

.uia-text-loader__letter:nth-child(4) .uia-text-loader__letter-placeholder {
	--uia-text-loader-animation-delay: calc(4 * var(--uia-text-loader-delay-step));
}

.uia-text-loader__letter:nth-child(5) .uia-text-loader__letter-placeholder {
	--uia-text-loader-animation-delay: calc(5 * var(--uia-text-loader-delay-step));
}

.uia-text-loader__letter:nth-child(6) .uia-text-loader__letter-placeholder {
	--uia-text-loader-animation-delay: calc(6 * var(--uia-text-loader-delay-step));
}

.uia-text-loader__letter:nth-child(7) .uia-text-loader__letter-placeholder {
	--uia-text-loader-animation-delay: calc(7 * var(--uia-text-loader-delay-step));
}
